.form-container{
    position: relative;
    display: block;
    margin: 1rem auto;
    padding: 1.5rem;
    width: 50%;

    background-color: lightgray;
    border: 2px solid dimgray;
    border-radius: .5rem;
}

h2{
    text-align: center;
    font-family: sans-serif;
    color: rgb(44, 44, 44);
}


.add-form{
    margin-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

label{
    padding: .5rem;
}

.form-control{
    margin: 1rem;
}

.btn{
    width: auto;
    padding: .5rem;
    text-align: center;
}

#form-hide{
    display: block;
    padding: .1rem .5rem .5rem .5rem;
    border: 2px solid lightgreen;
    margin: auto ;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50%;
}

#form-hide:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px .5px #11111185;
}

small{
    position: absolute;
    top: 95%;
    right: 5%;
}

.hidden{
    display: none;
}