.form-container{
    position: relative;
    display: block;
    margin: 1rem auto;
    padding: 1.5rem;
    width: 50%;

    background-color: lightgray;
    border: 2px solid dimgray;
    border-radius: .5rem;
}

h2{
    text-align: center;
    font-family: sans-serif;
    color: rgb(44, 44, 44);
}


.add-form{
    margin-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

label{
    padding: .5rem;
}

.form-control{
    margin: 1rem;
    font-family: sans-serif;
}

.form-control:nth-of-type(3){
    display: flex;
    flex-wrap: nowrap;
}

.btn{
    width: auto;
    padding: .5rem;
    text-align: center;
}

#form-hide{
    display: block;
    margin: auto ;
    font-size: 3rem;
    font-weight: bold;
    color: dimgray;
    border: none;
    background-color: transparent;
    padding-bottom: .6rem;
    padding-left: .2rem;
    padding-right: .2rem;
    border-radius: .5rem;
}

#form-hide:hover{
    cursor: pointer;
    transform: scale(1.1);
}

small{
    position: absolute;
    top: 95%;
    right: 5%;
}

.hidden{
    display: none;
}