.form-container{
    position: relative;
    display: block;
    margin: 1rem auto;
    padding: 1.5rem;
    width: 50%;

    background-color: lightgray;
    border: 2px solid dimgray;
    border-radius: .5rem;
}


.add-form{
    margin-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

label{
    padding: .5rem;
}

.form-control{
    margin: 1rem;
}

.btn{
    width: auto;
    padding: .5rem;
    text-align: center;
}

small{
    position: absolute;
    top: 95%;
    right: 5%;
}