/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-task-list{
    display: flex;
    flex-flow: column-reverse nowrap;
}